body {
    font-family: cursive;
}

header {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin-top: 10px;
  padding: 20px;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#000;
  background-color:#fff;
  text-align: center;
}

header p {
  text-align: center;
}

.sub {
    background-color: darkgray;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 30px;
    width: 50%;
    margin: 50px auto;
}

header h1 {
    font-size: 60px;
    text-align: center;
}

input[type="text"]{
  padding:4px;
  height:25px;
  width: 80%;
  border-radius: 5px;
  margin: 0px 50px;
}

#data-period-type {
  height:40px;
  width: 82%;
  border-radius: 5px;
  margin: 0px 50px 10px; 
}

#data-go-estimate {
    text-align: center;
    height:38px;
    background:#000;
    border:0;
    width: 100%;
    color:#fff;
    border-radius: 2px;
}


.form {
  border: #b9a099;
  border-radius: 10px;
}
